# Compilation outputs
*.o
*.lo
*.la

# Temporaries
.deps
.libs
.dirstamp

# Makefiles
Makefile
Makefile.in

# Configuration
/config.*
/configure
/stamp-h1

# Test programs
/test/test
/compare/compare
/profile/profile
/fuzz/fuzz
/checkasm/checkasm

# pkgconfig
/libass.pc

# Compilation support
/depcomp
/compile

# Autoconf files
/aclocal.m4
/autom4te.cache
/install-sh
/libtool
/ltmain.sh
/missing
/m4
/test-driver
