# Compilation outputs
*.o
*.lo
*.la

# Temporaries
.deps
.libs
.dirstamp

# Makefiles
Makefile
Makefile.in

# Configuration
/config.*
/configure
/stamp-h1

# Test programs
/test/test*
!/test/test.c
/compare/compare*
!/test/compare/compare.c
/profile/profile*
!/profile/profile.c
/checkasm/checkasm*
!/checkasm/checkasm.c
!/checkasm/checkasm.h

# pkgconfig
/libass.pc

# Compilation support
/depcomp
/compile

# Autoconf files
/aclocal.m4
/autom4te.cache
/install-sh
/libtool
/ltmain.sh
/missing
/m4
/test-driver
